div.smartdate input.date-field {
    width:7em;
    font-size:0.6em;
}

div.smartdate div.inputhint {
   position:absolute;
   z-index:25;
   width:8em;
   border:1px solid #999;
   background-color:#ffc;
   font-size:80%;
}

.smartdate-tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:0.3em 0.6em;
    max-width:18em;
    display:none;
    color:#fff;
    text-align:left;
    font-family:Helvetica,Arial,San Serif;
    font-size:67%;
    letter-spacing:0.1em;

    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}

div.smartdate {
    clear:both;
}

div.smartdate input, div.smartdate label { display:block; float:left; }
div.smartdate label { padding:0.2em 1em 0.2em 0; height:24px; }

div.smartdate a.caltrigger {
    display:block;
    float:left;
    padding:24px 0 0 0;
    background-image: url("./++resource++uu.smartdate-images/alcaline_spiral_calendar.png");
    background-repeat: no-repeat;
    height: 0px !Important;
    height /**/:24px;
    overflow:hidden;
    margin-left:0.1em;
    margin-top:-0.1em;
}
