input.smartdate-widget {
    width:7.0em;
    font-size:80% !Important; /* override dateinput style on .date */
    text-align:center;
}

div.smartdate {
    position:relative;
}

div.smartdate div.inputhint {
    padding:0.2em;
    position:absolute;
    line-height:1.2em;
    left:8em;
    z-index:25;
    border:1px solid #999;
    background-color:#ffc;
    font-weight:bold;
    color:#666;
    font-size:1.0em;
}

div.smartdate div.inputhint div.helptext {
    font-weight:normal;
    font-size:70%;
    font-style:italic;
    color:#393;
    padding:0.2em 0.8em;
    line-height:1.0em;
}

div.smartdate div.cleardiv {
    clear:both;
}

.smartdate-tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:0.3em 0.6em;
    max-width:18em;
    display:none;
    color:#fff;
    text-align:left;
    font-family:Helvetica,Arial,San Serif;
    font-size:67%;
    letter-spacing:0.1em;

}

.smartdate-tooltip, div.smartdate div.inputhint {
    /* shadow for mozilla/webkit/IE9 only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
    -ms-box-shadow:0 0 10px #000;
}

div.smartdate input { display:block; float:left; }

#content div.smartdate a.caltrigger,
div.smartdate a.caltrigger {
    display:block;
    float:left;
    padding:24px 0 0 0;
    background-image: url("./++resource++uu.smartdate-images/x-office-calendar.png");
    border-bottom:none !Important;
    background-repeat: no-repeat;
    height: 0px !Important;
    height /**/:24px;
    overflow:hidden;
    margin-left:0.1em;
    margin-top:-0.1em;
    width:24px;
}
